body{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}
.bg-dark{
  background-color: #926239;
  color: white;
}  
.bg-light{
  background-color: white;
  color: #926239;
}
.welcome{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 20px;
  text-align: center;
  background-image: url(./../images/bg_header.jpg);
  background-size: cover;
  background-position: right;
}
h1{
  display: block;
  max-width: 620px;
  margin: auto;
  padding-top: 20%;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #926239;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
  
}
.text{
  margin: 0;
  font-size: 20px;
  color: #926239;
}
.button{
  display: block;
  box-sizing: border-box;
  max-width: 140px;
  padding: 10px 20px;
  border: 1px solid #926239;
  border-radius: 10px;
  margin: 20px auto;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  text-decoration: none;
  color: #926239;
}
.button:hover{
  background-color: #926239;
  color: white;
}
.content{
  padding: 20px;
  text-align: center;
  font-size: 17px;
  line-height: 1.6;
}
.footer-content{
  display: inline-block;
  line-height: 1.6;
}
.footer-column{
  display: inline-block;
  box-sizing: border-box;
  width: 33.33%;
  padding: 20px;
  font-size: 17px;
  text-align: left;
}
